guidelines/xml-p5/epidoc.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
This NVDL file is designed to validate EpiDoc Guidelines authoring files,
which have multiply namespaced content. -->

<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
     startMode="tei">
    <trigger ns="http://www.tei-c.org/ns/Examples" nameList="ab choice"/>
    <mode name="tei">
        <namespace ns="http://www.tei-c.org/ns/1.0">
            <validate
                schema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng"/>
        </namespace>
        <namespace ns="http://relaxng.org/ns/structure/1.0">
            <validate schema="relax.rng"/>
        </namespace>
        <namespace ns="http://www.tei-c.org/ns/Examples">
            <allow useMode="epidoc"/>
                
        </namespace>
    </mode>
    <mode name="epidoc">
        <namespace ns="http://www.tei-c.org/ns/Examples">
            <validate schema="tei-epidoc-examples.rng"/>
            
        </namespace>
    </mode>
</rules>
