P5 conversion/schema/USEp-P5.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://www.tei-c.org/ns/1.0"
  xml:lang="en" n="testms">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>USEpigraphy</title>
        <author>Syd Bauman</author>
        <author>Elli Mylonas</author>
      </titleStmt>
      <publicationStmt>
        <availability status="restricted">
          <p>Copyleft 2008</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <p>Schema, intended to be a subset of P5/EpiDoc, for the U.S. Epigraphy project.</p>
      <schemaSpec ident="USEpi" start="TEI" prefix="usepi_">
        <!-- required modules -->
        <moduleRef key="header"/>
        <moduleRef key="linking"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <!-- optional modules -->
        <moduleRef key="namesdates"/>
        <moduleRef key="transcr"/>
        <moduleRef key="msdescription"/>
        <elementSpec module="textstructure" ident="div1" mode="delete"/>
        <elementSpec module="textstructure" ident="div2" mode="delete"/>
        <elementSpec module="textstructure" ident="div3" mode="delete"/>
        <elementSpec module="textstructure" ident="div4" mode="delete"/>
        <elementSpec module="textstructure" ident="div5" mode="delete"/>
        <elementSpec module="textstructure" ident="div6" mode="delete"/>
        <elementSpec module="textstructure" ident="div7" mode="delete"/>
        <elementSpec module="textstructure" ident="docAuthor" mode="delete"/>
        <elementSpec module="textstructure" ident="docDate" mode="delete"/>
        <elementSpec module="textstructure" ident="docEdition" mode="delete"/>
        <elementSpec module="textstructure" ident="docImprint" mode="delete"/>
        <elementSpec module="textstructure" ident="docTitle" mode="delete"/>
        <elementSpec module="textstructure" ident="epigraph" mode="delete"/>
        <elementSpec module="textstructure" ident="titlePage" mode="delete"/>
        <elementSpec module="textstructure" ident="titlePart" mode="delete"/>
        <elementSpec module="namesdates" ident="addName" mode="delete"/>
        <elementSpec module="namesdates" ident="affiliation" mode="delete"/>
        <elementSpec module="namesdates" ident="age" mode="delete"/>
        <elementSpec module="namesdates" ident="birth" mode="delete"/>
        <elementSpec module="namesdates" ident="climate" mode="delete"/>
        <elementSpec module="namesdates" ident="death" mode="delete"/>
        <elementSpec module="namesdates" ident="education" mode="delete"/>
        <elementSpec module="namesdates" ident="event" mode="delete"/>
        <elementSpec module="namesdates" ident="faith" mode="delete"/>
        <elementSpec module="namesdates" ident="floruit" mode="delete"/>
        <elementSpec module="namesdates" ident="forename" mode="delete"/>
        <elementSpec module="namesdates" ident="genName" mode="delete"/>
        <elementSpec module="namesdates" ident="geogFeat" mode="delete"/>
        <elementSpec module="namesdates" ident="geogName" mode="delete"/>
        <elementSpec module="namesdates" ident="langKnowledge" mode="delete"/>
        <elementSpec module="namesdates" ident="langKnown" mode="delete"/>
        <elementSpec module="namesdates" ident="listNym" mode="delete"/>
        <elementSpec module="namesdates" ident="listOrg" mode="delete"/>
        <elementSpec module="namesdates" ident="listPerson" mode="delete"/>
        <elementSpec module="namesdates" ident="listPlace" mode="delete"/>
        <elementSpec module="namesdates" ident="location" mode="delete"/>
        <elementSpec module="namesdates" ident="nameLink" mode="delete"/>
        <elementSpec module="namesdates" ident="nationality" mode="delete"/>
        <elementSpec module="namesdates" ident="nym" mode="delete"/>
        <elementSpec module="namesdates" ident="occupation" mode="delete"/>
        <elementSpec module="namesdates" ident="offset" mode="delete"/>
        <elementSpec module="namesdates" ident="org" mode="delete"/>
        <elementSpec module="namesdates" ident="person" mode="delete"/>
        <elementSpec module="namesdates" ident="personGrp" mode="delete"/>
        <elementSpec module="namesdates" ident="place" mode="delete"/>
        <elementSpec module="namesdates" ident="population" mode="delete"/>
        <elementSpec module="namesdates" ident="relation" mode="delete"/>
        <elementSpec module="namesdates" ident="relationGrp" mode="delete"/>
        <elementSpec module="namesdates" ident="residence" mode="delete"/>
        <elementSpec module="namesdates" ident="roleName" mode="delete"/>
        <elementSpec module="namesdates" ident="sex" mode="delete"/>
        <elementSpec module="namesdates" ident="socecStatus" mode="delete"/>
        <elementSpec module="namesdates" ident="state" mode="delete"/>
        <elementSpec module="namesdates" ident="surname" mode="delete"/>
        <elementSpec module="namesdates" ident="terrain" mode="delete"/>
        <elementSpec module="namesdates" ident="trait" mode="delete"/>
        <elementSpec module="linking" ident="timeline" mode="delete"/>
        <elementSpec module="linking" ident="when" mode="delete"/>
        <elementSpec module="msdescription" ident="accMat" mode="delete"/>
        <elementSpec module="msdescription" ident="adminInfo" mode="delete"/>
        <elementSpec module="msdescription" ident="binding" mode="delete"/>
        <elementSpec module="msdescription" ident="bindingDesc" mode="delete"/>
        <elementSpec module="msdescription" ident="catchwords" mode="delete"/>
        <elementSpec module="msdescription" ident="collation" mode="delete"/>
        <elementSpec module="msdescription" ident="colophon" mode="delete"/>
        <elementSpec module="msdescription" ident="custEvent" mode="delete"/>
        <elementSpec module="msdescription" ident="custodialHist" mode="delete"/>
        <elementSpec module="msdescription" ident="explicit" mode="delete"/>
        <elementSpec module="msdescription" ident="filiation" mode="delete"/>
        <elementSpec module="msdescription" ident="finalRubric" mode="delete"/>
        <elementSpec module="msdescription" ident="foliation" mode="delete"/>
        <elementSpec module="msdescription" ident="heraldry" mode="delete"/>
        <elementSpec module="msdescription" ident="incipit" mode="delete"/>
        <elementSpec module="msdescription" ident="msItem" mode="delete"/>
        <elementSpec module="msdescription" ident="msPart" mode="delete"/>
        <elementSpec module="msdescription" ident="musicNotation" mode="delete"/>
        <elementSpec module="msdescription" ident="recordHist" mode="delete"/>
        <elementSpec module="msdescription" ident="rubric" mode="delete"/>
        <elementSpec module="msdescription" ident="seal" mode="delete"/>
        <elementSpec module="msdescription" ident="sealDesc" mode="delete"/>
        <elementSpec module="msdescription" ident="secFol" mode="delete"/>
        <elementSpec module="msdescription" ident="signatures" mode="delete"/>
        <elementSpec module="msdescription" ident="stamp" mode="delete"/>
        <elementSpec module="msdescription" ident="surrogates" mode="delete"/>
        <elementSpec module="msdescription" ident="watermark" mode="delete"/>
        <elementSpec module="core" ident="analytic" mode="delete"/>
        <elementSpec module="core" ident="biblStruct" mode="delete"/>
        <elementSpec module="core" ident="binaryObject" mode="delete"/>
        <elementSpec module="core" ident="cit" mode="delete"/>
        <elementSpec module="core" ident="divGen" mode="delete"/>
        <elementSpec module="core" ident="imprint" mode="delete"/>
        <elementSpec module="core" ident="index" mode="delete"/>
        <elementSpec module="core" ident="monogr" mode="delete"/>
        <elementSpec module="core" ident="q" mode="delete"/>
        <elementSpec module="core" ident="said" mode="delete"/>
        <elementSpec module="core" ident="series" mode="delete"/>
        <elementSpec module="core" ident="sp" mode="delete"/>
        <elementSpec module="core" ident="speaker" mode="delete"/>
        <elementSpec module="core" ident="stage" mode="delete"/>
        <elementSpec module="core" ident="teiCorpus" mode="delete"/>
        <elementSpec module="transcr" ident="fw" mode="delete"/>
        <elementSpec module="header" ident="appInfo" mode="delete"/>
        <elementSpec module="header" ident="application" mode="delete"/>
        <elementSpec module="header" ident="biblFull" mode="delete"/>
        <elementSpec module="header" ident="cRefPattern" mode="delete"/>
        <elementSpec module="header" ident="geoDecl" mode="delete"/>
        <elementSpec module="header" ident="refState" mode="delete"/>
        <elementSpec module="header" ident="refsDecl" mode="delete"/>
        <elementSpec module="header" ident="stdVals" mode="delete"/>
        <elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
        <elementSpec module="msdescription" ident="source" mode="delete"/>
      </schemaSpec>
    </body>
  </text>
</TEI>
