schema/latest/epidoc.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
This NVDL file is designed to validate EpiDoc Guidelines authoring files,
which have multiply namespaced content. -->

<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="validate">

  <mode name="validate">

    <namespace ns="http://www.tei-c.org/ns/1.0">
      <validate schema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng">
        <mode>
          <namespace ns="http://www.tei-c.org/ns/Examples">
            <validate schema="tei-epidoc-examples.rng">
              <mode>
                <anyNamespace>
                  <allow/>
                </anyNamespace>
              </mode>
            </validate>
          </namespace>
          <namespace ns="http://purl.oclc.org/dsdl/schematron">
            <validate schema="iso-schematron.rng"/>
            
          </namespace>
          <namespace ns="http://relaxng.org/ns/structure/1.0">
            <validate schema="relax.rng"/>
            
          </namespace>
        </mode>
      </validate>
    </namespace>
  </mode>
  <mode name="attach">
    <anyNamespace>
      <attach/>
    </anyNamespace>
  </mode>
</rules>
