dtd/tei-epidoc-pizza.dtd

<!-- DTD  generated by PizzaChef 1.4 for pid pizza6769 on 12 Nov 2008 -->




<!ELEMENT TEI.2 
	(teiHeader, text) >


<!ATTLIST TEI.2 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "TEI.2" >


<!ELEMENT teiCorpus.2 
	(teiHeader, TEI.2+) >


<!ATTLIST teiCorpus.2 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "teiCorpus.2" >


<!ELEMENT am 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST am 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT app 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, (lem, (gap | figure | certainty | 
	fs | link | linkGrp | cb | lb | milestone | pb)*, (wit, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)?)?, (ptr, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)?, ((rdg, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*, (wit, (gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)*)?) | (rdgGrp, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*, (wit, (gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)*)?))*, (note, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)?) >


<!ATTLIST app 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	from IDREF #IMPLIED
	to IDREF #IMPLIED
	loc CDATA #IMPLIED >


<!ELEMENT att 
	(#PCDATA) >


<!ATTLIST att 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT choice 
	(abbr | corr | expan | orig | reg | seg | sic | unclear 
	| choice | am | ex)* >


<!ATTLIST choice 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED >


<!ELEMENT date 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST date 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	value CDATA #IMPLIED >


<!ELEMENT ex 
	(#PCDATA | g)* >


<!ATTLIST ex 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	cert (high | low) "high"
	resp CDATA #IMPLIED >


<!ELEMENT figure 
	(head?, p*, figDesc) >


<!ATTLIST figure 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	href CDATA #IMPLIED >


<!ELEMENT g 
	(#PCDATA) >


<!ATTLIST g 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED >


<!ELEMENT geogName 
	(#PCDATA | geog | g | choice | am | ex | subst | abbr | 
	address | date | dateRange | dateStruct | expan | geogName 
	| measure | name | num | persName | placeName | rs | add 
	| app | corr | del | orig | reg | sic | space | supplied 
	| unclear | handShift | emph | foreign | gloss | hi | soCalled 
	| term | title | ptr | ref | xptr | xref | seg | w | att 
	| tag | gap | figure | certainty | fs | link | linkGrp | 
	cb | lb | milestone | pb)* >


<!ATTLIST geogName 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED >


<!ELEMENT msDesc 
	(p | msIdentifier)+ >


<!ATTLIST msDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT msIdentifier 
	(msName)+ >


<!ATTLIST msIdentifier 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT msName 
	(#PCDATA | g)* >


<!ATTLIST msName 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED >


<!ELEMENT tag 
	(#PCDATA) >


<!ATTLIST tag 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT sourceDesc 
	(p | bibl | biblFull | biblStruct | listBibl | msDesc)+ >


<!ATTLIST sourceDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO" >


<!ELEMENT subst 
	(add | del)* >


<!ATTLIST subst 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand CDATA #IMPLIED >


<!ELEMENT term 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST term 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	target CDATA #IMPLIED >


<!ELEMENT unclear 
	(#PCDATA | g)* >


<!ELEMENT w 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST w 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	lemma CDATA #IMPLIED >


<!ATTLIST add 
	place (inline | supralinear | infralinear | left | right | top | bottom | opposite | verso | overstrike | mixed | margin) #IMPLIED
	resp CDATA #IMPLIED
	hand CDATA #IMPLIED >


<!ATTLIST app 
	from IDREF #IMPLIED
	to IDREF #IMPLIED >


<!ATTLIST availability 
	status (free | unknown | restricted) "unknown" >


<!ATTLIST bibl 
	subtype CDATA #IMPLIED
	type CDATA #IMPLIED >


<!ATTLIST biblFull 
	type CDATA #IMPLIED >


<!ATTLIST biblScope 
	type (volume | pages | chapter | parts | fascicle | numbers | plates | issue | side | lines) #IMPLIED >


<!ATTLIST biblStruct 
	type CDATA #IMPLIED >


<!ATTLIST bloc 
	full (yes | abb | init) "yes" >


<!ATTLIST certainty 
	degree (high | low) "high" >


<!ATTLIST country 
	full (yes | abb | init) "yes" >


<!ATTLIST date 
	type CDATA #IMPLIED
	notBefore CDATA #IMPLIED
	notAfter CDATA #IMPLIED
	exact (notBefore | notAfter | both | none) #IMPLIED
	cert (high | low) "high"
	precision (circa | exact) #IMPLIED >


<!ATTLIST day 
	precision (circa | exact) #IMPLIED
	type CDATA #IMPLIED
	notBefore CDATA #IMPLIED
	notAfter CDATA #IMPLIED
	exact (notBefore | notAfter | both | none) #IMPLIED
	cert (high | low) "high" >


<!ATTLIST distance 
	exact (Y | N | U) #IMPLIED >


<!ATTLIST div 
	subtype CDATA #IMPLIED
	type (apparatus | bibliography | commentary | description | edition | figure | history | textpart | translation) #REQUIRED >


<!ATTLIST gap 
	reason (ellipsis | illegible | lost | omitted) #REQUIRED
	extentmax CDATA #IMPLIED
	unit CDATA #IMPLIED
	dim (left | right | top | bottom | internal) #IMPLIED
	precision (circa | exact) #IMPLIED
	resp CDATA #IMPLIED
	hand CDATA #IMPLIED >


<!ATTLIST geog 
	full (yes | abb | init) "yes" >


<!ATTLIST geogName 
	cert (high | low) "high"
	full (yes | abb | init) "yes" >


<!ATTLIST gloss 
	target CDATA #IMPLIED >


<!ATTLIST hi 
	rend (apex | intraline | italic | ligature | longa | normal | reversed | supraline | tall | strong | superscript | underline | sling-above | sling-below | supraline-underline | subscript | diaeresis | oxia | dasia | varia | psili | perispomeni) #REQUIRED
	type CDATA #IMPLIED >


<!ATTLIST idno 
	type (ISSN | ISBN | URL | OCLC) #REQUIRED >


<!ATTLIST lb 
	type (worddiv) #IMPLIED >


<!ATTLIST measure 
	dim (height | width | depth | diameter | none) "none"
	value CDATA #IMPLIED
	unit CDATA #IMPLIED
	precision (circa | exact) #IMPLIED >


<!ATTLIST month 
	precision (circa | exact) #IMPLIED
	type CDATA #IMPLIED
	notBefore CDATA #IMPLIED
	notAfter CDATA #IMPLIED
	exact (notBefore | notAfter | both | none) #IMPLIED
	cert (high | low) "high" >


<!ATTLIST note 
	place CDATA "not specified"
	target CDATA #IMPLIED
	targetEnd CDATA #IMPLIED >


<!ATTLIST persName 
	cert (high | low) "high"
	full (yes | abb | init) "yes" >


<!ATTLIST rs 
	cert (high | low) "high" >


<!ATTLIST placeName 
	cert (high | low) "high"
	full (yes | abb | init) "yes"
	type CDATA #IMPLIED >


<!ATTLIST ptr 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all" >


<!ATTLIST ref 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all" >


<!ATTLIST region 
	full (yes | abb | init) "yes" >


<!ATTLIST seg 
	cert (high | low) "high" >


<!ATTLIST settlement 
	full (yes | abb | init) "yes" >


<!ATTLIST space 
	dim (horizontal | vertical) "horizontal"
	unit CDATA "character"
	extent CDATA "1"
	precision (circa | exact) #IMPLIED >


<!ATTLIST supplied 
	hand CDATA #IMPLIED
	cert (high | low) "high"
	reason (lost | omitted | subaudible | explanation | abbreviation | undefined) #REQUIRED
	evidence (conjecture | duplicate | external | internal) #IMPLIED >


<!ATTLIST title 
	type (main | subordinate | parallel | abbreviated) "main"
	level (a | m | j | s | u) "m" >


<!ATTLIST unclear 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reason (damage | execution | undefined) "undefined"
	resp CDATA #IMPLIED
	cert (high | low) "high"
	hand CDATA #IMPLIED
	agent CDATA #IMPLIED >


<!ATTLIST xptr 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all" >


<!ATTLIST xref 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all"
	href CDATA #IMPLIED >


<!ATTLIST year 
	precision (circa | exact) #IMPLIED
	type CDATA #IMPLIED
	notBefore CDATA #IMPLIED
	notAfter CDATA #IMPLIED
	exact (notBefore | notAfter | both | none) #IMPLIED
	cert (high | low) "high" >


<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >


<!ATTLIST teiHeader 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	creator CDATA #IMPLIED
	status (new | update) "new"
	date.created CDATA #IMPLIED
	date.updated CDATA #IMPLIED
	TEIform CDATA "teiHeader" >


<!ELEMENT fileDesc 
	(titleStmt, editionStmt?, extent?, publicationStmt, sourceDesc+) >


<!ATTLIST fileDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fileDesc" >


<!ELEMENT titleStmt 
	(title+, (author | editor | sponsor | funder | principal 
	| respStmt)*) >


<!ATTLIST titleStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "titleStmt" >


<!ELEMENT sponsor 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST sponsor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "sponsor" >


<!ELEMENT funder 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST funder 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "funder" >


<!ELEMENT principal 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST principal 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "principal" >


<!ELEMENT editionStmt 
	((edition, respStmt*) | p+) >


<!ATTLIST editionStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "editionStmt" >


<!ELEMENT edition 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST edition 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "edition" >


<!ELEMENT extent 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST extent 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "extent" >


<!ELEMENT publicationStmt 
	((p, (gap | figure | certainty | fs | link | linkGrp | cb 
	| lb | milestone | pb)*)+ | ((publisher | distributor | 
	authority | pubPlace | address | idno | availability | date), 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)+) >


<!ATTLIST publicationStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publicationStmt" >


<!ELEMENT distributor 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST distributor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "distributor" >


<!ELEMENT authority 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST authority 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "authority" >


<!ELEMENT idno 
	(#PCDATA) >


<!ATTLIST idno 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "idno" >


<!ELEMENT availability 
	(p)+ >


<!ATTLIST availability 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	status (free | unknown | restricted) "unknown"
	TEIform CDATA "availability" >


<!ELEMENT encodingDesc 
	(classDecl*, p*) >


<!ATTLIST encodingDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "encodingDesc" >


<!ELEMENT classDecl 
	(taxonomy)+ >


<!ATTLIST classDecl 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "classDecl" >


<!ELEMENT taxonomy 
	(category+ | ((bibl | biblStruct | biblFull), category*)) >


<!ATTLIST taxonomy 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "taxonomy" >


<!ELEMENT category 
	(catDesc, category*) >


<!ATTLIST category 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "category" >


<!ELEMENT catDesc 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag)* >


<!ATTLIST catDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "catDesc" >


<!ELEMENT profileDesc 
	(creation?, langUsage*, handList*, textClass*) >


<!ATTLIST profileDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >


<!ELEMENT creation 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST creation 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "creation" >


<!ELEMENT langUsage 
	(p | language)+ >


<!ATTLIST langUsage 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "langUsage" >


<!ELEMENT language 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST language 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wsd ENTITY #IMPLIED
	usage NMTOKEN #IMPLIED
	TEIform CDATA "language" >


<!ELEMENT textClass 
	(classCode | catRef | keywords)* >


<!ATTLIST textClass 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textClass" >


<!ELEMENT keywords 
	(term+ | list) >


<!ATTLIST keywords 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "keywords" >


<!ELEMENT classCode 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST classCode 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "classCode" >


<!ELEMENT catRef 
	EMPTY >


<!ATTLIST catRef 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	scheme IDREF #IMPLIED
	TEIform CDATA "catRef" >


<!ELEMENT revisionDesc 
	(list | change+) >


<!ATTLIST revisionDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "revisionDesc" >


<!ELEMENT change 
	(date, respStmt+, item) >


<!ATTLIST change 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "change" >


<!ELEMENT p 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST p 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "p" >


<!ELEMENT foreign 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST foreign 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "foreign" >


<!ELEMENT emph 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST emph 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "emph" >


<!ELEMENT hi 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST hi 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "hi" >


<!ELEMENT soCalled 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST soCalled 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "soCalled" >


<!ELEMENT gloss 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST gloss 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREF #IMPLIED
	TEIform CDATA "gloss" >


<!ELEMENT name 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST name 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT rs 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST rs 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "rs" >


<!ELEMENT num 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST num 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	value CDATA #IMPLIED
	TEIform CDATA "num" >


<!ELEMENT measure 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST measure 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "measure" >


<!ELEMENT dateRange 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST dateRange 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	from CDATA #IMPLIED
	to CDATA #IMPLIED
	exact (to | from | both | none) #IMPLIED
	TEIform CDATA "dateRange" >


<!ELEMENT abbr 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST abbr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	expan CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "abbr" >


<!ELEMENT expan 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST expan 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	abbr CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "expan" >


<!ELEMENT sic 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | ab | l | lg | p | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST sic 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	corr CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "sic" >


<!ELEMENT corr 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | ab | l | lg | p | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST corr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	sic CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "corr" >


<!ELEMENT reg 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST reg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	orig CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "reg" >


<!ELEMENT orig 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST orig 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reg CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "orig" >


<!ELEMENT gap 
	EMPTY >


<!ATTLIST gap 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	desc CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp IDREF #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	extent CDATA #IMPLIED
	TEIform CDATA "gap" >


<!ELEMENT add 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | ab | l | lg | p | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST add 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "add" >


<!ELEMENT del 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST del 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	status CDATA "unremarkable"
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "del" >


<!ELEMENT address 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, ((addrLine, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)+ | ((name 
	| postBox | postCode | street), (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)*)) >


<!ATTLIST address 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "address" >


<!ELEMENT addrLine 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST addrLine 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "addrLine" >


<!ELEMENT street 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST street 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "street" >


<!ELEMENT postCode 
	(#PCDATA) >


<!ATTLIST postCode 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "postCode" >


<!ELEMENT postBox 
	(#PCDATA) >


<!ATTLIST postBox 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "postBox" >


<!ELEMENT ptr 
	EMPTY >


<!ATTLIST ptr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #REQUIRED
	TEIform CDATA "ptr" >


<!ELEMENT ref 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST ref 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #IMPLIED
	TEIform CDATA "ref" >


<!ELEMENT list 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, (head, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)?, (item, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)*) >


<!ATTLIST list 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "simple"
	TEIform CDATA "list" >


<!ELEMENT item 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | ab | l | lg | p | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST item 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "item" >


<!ELEMENT head 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST head 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "head" >


<!ELEMENT note 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | ab | l | lg | p | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST note 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	place CDATA "unspecified"
	anchored (yes | no) "yes"
	target IDREFS #IMPLIED
	targetEnd IDREFS #IMPLIED
	TEIform CDATA "note" >


<!ELEMENT milestone 
	EMPTY >


<!ATTLIST milestone 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	unit CDATA #REQUIRED
	TEIform CDATA "milestone" >


<!ELEMENT pb 
	EMPTY >


<!ATTLIST pb 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "pb" >


<!ELEMENT lb 
	EMPTY >


<!ATTLIST lb 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "lb" >


<!ELEMENT cb 
	EMPTY >


<!ATTLIST cb 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "cb" >


<!ELEMENT bibl 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| analytic | author | biblScope | edition | editor | extent 
	| idno | imprint | monogr | note | pubPlace | publisher 
	| respStmt | series | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST bibl 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "bibl" >


<!ELEMENT biblStruct 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, (analytic, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)?, (monogr, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*, (series, (gap | figure | certainty | 
	fs | link | linkGrp | cb | lb | milestone | pb)*)*)+, ((note, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*) | (idno, (gap | figure | certainty | 
	fs | link | linkGrp | cb | lb | milestone | pb)*))*) >


<!ATTLIST biblStruct 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblStruct" >


<!ELEMENT biblFull 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, titleStmt, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*, (editionStmt, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)?, (extent, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)?, publicationStmt, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*, (sourceDesc, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)*) >


<!ATTLIST biblFull 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblFull" >


<!ELEMENT listBibl 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, (head, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)?, (bibl 
	| biblStruct | biblFull), (bibl | biblStruct | biblFull 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*) >


<!ATTLIST listBibl 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "listBibl" >


<!ELEMENT analytic 
	(author | editor | respStmt | title | gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST analytic 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "analytic" >


<!ELEMENT monogr 
	(((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, (((author | editor | respStmt), (author 
	| editor | respStmt | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | milestone | pb)*, (title, (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | milestone 
	| pb)*)+, ((editor | respStmt), (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)*) | 
	((title, (gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)*)+, ((author | editor | respStmt), 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)*)))?, ((note | meeting), (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | milestone 
	| pb)*)*, (edition, (editor | respStmt | gap | figure | 
	certainty | fs | link | linkGrp | cb | lb | milestone | 
	pb)*)*, imprint, (imprint | extent | biblScope | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | milestone 
	| pb)*) >


<!ATTLIST monogr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "monogr" >


<!ELEMENT series 
	(#PCDATA | title | editor | respStmt | biblScope | gap | 
	figure | certainty | fs | link | linkGrp | cb | lb | milestone 
	| pb)* >


<!ATTLIST series 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "series" >


<!ELEMENT author 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST author 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author" >


<!ELEMENT editor 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST editor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "editor"
	TEIform CDATA "editor" >


<!ELEMENT respStmt 
	(resp | name | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)+ >


<!ATTLIST respStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "respStmt" >


<!ELEMENT resp 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST resp 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "resp" >


<!ELEMENT title 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST title 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	level (a | m | j | s | u) #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "title" >


<!ELEMENT meeting 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST meeting 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "meeting" >


<!ELEMENT imprint 
	(pubPlace | publisher | date | biblScope | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | milestone 
	| pb)* >


<!ATTLIST imprint 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "imprint" >


<!ELEMENT publisher 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST publisher 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publisher" >


<!ELEMENT biblScope 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST biblScope 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "biblScope" >


<!ELEMENT pubPlace 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST pubPlace 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "pubPlace" >


<!ELEMENT l 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST l 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	enjamb CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "l" >


<!ELEMENT lg 
	((docAuthor | head | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | milestone | pb)*, (l | lg), (l | lg 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*) >


<!ATTLIST lg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "lg" >


<!ELEMENT text 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, body, (gap | figure | certainty | 
	fs | link | linkGrp | cb | lb | milestone | pb)*) >


<!ATTLIST text 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "text" >


<!ELEMENT body 
	((docAuthor | head | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | milestone | pb)*, ((((bibl | biblFull 
	| biblStruct | ab | l | lg | p | list | listBibl | note), 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)+, (div, (div | gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)?) | 
	(div, (div | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)*))) >


<!ATTLIST body 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "body" >


<!ELEMENT div 
	((docAuthor | head | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | milestone | pb)*, ((div, (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | milestone 
	| pb)*)+ | (((bibl | biblFull | biblStruct | ab | l | lg 
	| p | list | listBibl | note), (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*)+, (div, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*)*))) >


<!ATTLIST div 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div" >


<!ELEMENT docAuthor 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST docAuthor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docAuthor" >


<!ELEMENT link 
	EMPTY >


<!ATTLIST link 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	targets IDREFS #REQUIRED
	TEIform CDATA "link" >


<!ELEMENT linkGrp 
	(link | ptr | xptr)+ >


<!ATTLIST linkGrp 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	domains IDREFS #IMPLIED
	targFunc NMTOKENS #IMPLIED
	TEIform CDATA "linkGrp" >


<!ELEMENT xref 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST xref 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xref" >


<!ELEMENT xptr 
	EMPTY >


<!ATTLIST xptr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xptr" >


<!ELEMENT seg 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST seg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	subtype CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT ab 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST ab 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "ab" >


<!ELEMENT fs 
	(f)* >


<!ATTLIST fs 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	feats IDREFS #IMPLIED
	rel (eq | ne | sb | ns) "sb"
	TEIform CDATA "fs" >


<!ELEMENT f 
	(str | fs)* >


<!ATTLIST f 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name NMTOKEN #REQUIRED
	org (single | set | bag | list) #IMPLIED
	rel (eq | ne | sb | ns) "eq"
	fVal IDREFS #IMPLIED
	TEIform CDATA "f" >


<!ELEMENT str 
	(#PCDATA) >


<!ATTLIST str 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	rel (eq | ne | sb | ns | lt | le | gt | ge) "eq"
	TEIform CDATA "str" >


<!ELEMENT certainty 
	EMPTY >


<!ATTLIST certainty 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	locus CDATA #REQUIRED
	assertedValue CDATA #IMPLIED
	desc CDATA #IMPLIED
	given CDATA #IMPLIED
	degree CDATA #IMPLIED
	TEIform CDATA "certainty" >


<!ELEMENT supplied 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST supplied 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	source CDATA #IMPLIED
	TEIform CDATA "supplied" >


<!ELEMENT hand 
	EMPTY >


<!ATTLIST hand 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	hand CDATA #IMPLIED
	scribe CDATA #IMPLIED
	style CDATA #IMPLIED
	mainLang CDATA #IMPLIED
	ink CDATA #IMPLIED
	character CDATA #IMPLIED
	first CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "hand" >


<!ELEMENT handShift 
	EMPTY >


<!ATTLIST handShift 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	new IDREF #IMPLIED
	old IDREF #IMPLIED
	style CDATA #IMPLIED
	ink CDATA #IMPLIED
	character CDATA #IMPLIED
	resp IDREF #IMPLIED
	TEIform CDATA "handShift" >


<!ELEMENT handList 
	(hand)* >


<!ATTLIST handList 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "handList" >


<!ELEMENT space 
	EMPTY >


<!ATTLIST space 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	dim (horizontal | vertical) #IMPLIED
	extent CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "space" >


<!ELEMENT lem 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST lem 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wit CDATA #IMPLIED
	type CDATA #IMPLIED
	cause CDATA #IMPLIED
	varSeq CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "lem" >


<!ELEMENT rdg 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST rdg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wit CDATA #IMPLIED
	type CDATA #IMPLIED
	cause CDATA #IMPLIED
	varSeq CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "rdg" >


<!ELEMENT rdgGrp 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)*, ((rdgGrp, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | milestone | pb)*) | (rdg, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| milestone | pb)*, (wit, (gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | milestone | pb)*)?))+) >


<!ATTLIST rdgGrp 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wit CDATA #IMPLIED
	type CDATA #IMPLIED
	cause CDATA #IMPLIED
	varSeq CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "rdgGrp" >


<!ELEMENT wit 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST wit 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "wit" >


<!ELEMENT persName 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST persName 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "persName" >


<!ELEMENT placeName 
	(#PCDATA | bloc | country | distance | geog | offset | region 
	| settlement | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST placeName 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "placeName" >


<!ELEMENT settlement 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST settlement 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "settlement" >


<!ELEMENT region 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST region 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "region" >


<!ELEMENT country 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST country 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "country" >


<!ELEMENT bloc 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST bloc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "bloc" >


<!ELEMENT offset 
	(#PCDATA | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST offset 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "offset" >


<!ELEMENT distance 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST distance 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	exact (Y | N | U) "U"
	TEIform CDATA "distance" >


<!ELEMENT geog 
	(#PCDATA) >


<!ATTLIST geog 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "geog" >


<!ELEMENT dateStruct 
	(#PCDATA | dateStruct | day | distance | month | occasion 
	| offset | week | year | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | milestone | pb)* >


<!ATTLIST dateStruct 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	calendar CDATA #IMPLIED
	exact CDATA #IMPLIED
	TEIform CDATA "dateStruct" >


<!ELEMENT day 
	(#PCDATA) >


<!ATTLIST day 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "day" >


<!ELEMENT week 
	(#PCDATA) >


<!ATTLIST week 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "week" >


<!ELEMENT month 
	(#PCDATA) >


<!ATTLIST month 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "month" >


<!ELEMENT year 
	(#PCDATA) >


<!ATTLIST year 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "year" >


<!ELEMENT occasion 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | milestone | pb)* >


<!ATTLIST occasion 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "occasion" >


<!ELEMENT figDesc 
	(#PCDATA | g | choice | am | ex | subst | abbr | address 
	| date | dateRange | dateStruct | expan | geogName | measure 
	| name | num | persName | placeName | rs | add | app | corr 
	| del | orig | reg | sic | space | supplied | unclear | 
	handShift | emph | foreign | gloss | hi | soCalled | term 
	| title | ptr | ref | xptr | xref | seg | w | att | tag 
	| bibl | biblFull | biblStruct | list | listBibl | note 
	| text | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | milestone | pb)* >


<!ATTLIST figDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "figDesc" >

