dtd/tei-epidoc-pizza.dtd

<!-- DTD  generated by PizzaChef 1.4 for pid pizza8975 on 8 Mar 2006 -->

<!ENTITY aacute  "&#x00E1;" >


<!ENTITY Aacute  "&#x00C1;" >


<!ENTITY acirc  "&#x00E2;" >


<!ENTITY Acirc  "&#x00C2;" >


<!ENTITY agrave  "&#x00E0;" >


<!ENTITY Agrave  "&#x00C0;" >


<!ENTITY aring  "&#x00E5;" >


<!ENTITY Aring  "&#x00C5;" >


<!ENTITY atilde  "&#x00E3;" >


<!ENTITY Atilde  "&#x00C3;" >


<!ENTITY auml  "&#x00E4;" >


<!ENTITY Auml  "&#x00C4;" >


<!ENTITY aelig  "&#x00E6;" >


<!ENTITY AElig  "&#x00C6;" >


<!ENTITY ccedil  "&#x00E7;" >


<!ENTITY Ccedil  "&#x00C7;" >


<!ENTITY eth  "&#x00F0;" >


<!ENTITY ETH  "&#x00D0;" >


<!ENTITY eacute  "&#x00E9;" >


<!ENTITY Eacute  "&#x00C9;" >


<!ENTITY ecirc  "&#x00EA;" >


<!ENTITY Ecirc  "&#x00CA;" >


<!ENTITY egrave  "&#x00E8;" >


<!ENTITY Egrave  "&#x00C8;" >


<!ENTITY euml  "&#x00EB;" >


<!ENTITY Euml  "&#x00CB;" >


<!ENTITY iacute  "&#x00ED;" >


<!ENTITY Iacute  "&#x00CD;" >


<!ENTITY icirc  "&#x00EE;" >


<!ENTITY Icirc  "&#x00CE;" >


<!ENTITY igrave  "&#x00EC;" >


<!ENTITY Igrave  "&#x00CC;" >


<!ENTITY iuml  "&#x00EF;" >


<!ENTITY Iuml  "&#x00CF;" >


<!ENTITY ntilde  "&#x00F1;" >


<!ENTITY Ntilde  "&#x00D1;" >


<!ENTITY oacute  "&#x00F3;" >


<!ENTITY Oacute  "&#x00D3;" >


<!ENTITY ocirc  "&#x00F4;" >


<!ENTITY Ocirc  "&#x00D4;" >


<!ENTITY ograve  "&#x00F2;" >


<!ENTITY Ograve  "&#x00D2;" >


<!ENTITY oslash  "&#x00F8;" >


<!ENTITY Oslash  "&#x00D8;" >


<!ENTITY otilde  "&#x00F5;" >


<!ENTITY Otilde  "&#x00D5;" >


<!ENTITY ouml  "&#x00F6;" >


<!ENTITY Ouml  "&#x00D6;" >


<!ENTITY szlig  "&#x00DF;" >


<!ENTITY thorn  "&#x00FE;" >


<!ENTITY THORN  "&#x00DE;" >


<!ENTITY uacute  "&#x00FA;" >


<!ENTITY Uacute  "&#x00DA;" >


<!ENTITY ucirc  "&#x00FB;" >


<!ENTITY Ucirc  "&#x00DB;" >


<!ENTITY ugrave  "&#x00F9;" >


<!ENTITY Ugrave  "&#x00D9;" >


<!ENTITY uuml  "&#x00FC;" >


<!ENTITY Uuml  "&#x00DC;" >


<!ENTITY yacute  "&#x00FD;" >


<!ENTITY Yacute  "&#x00DD;" >


<!ENTITY yuml  "&#x00FF;" >


<!ENTITY abreve  "&#x0103;" >


<!ENTITY Abreve  "&#x0102;" >


<!ENTITY amacr  "&#x0101;" >


<!ENTITY Amacr  "&#x0100;" >


<!ENTITY aogon  "&#x0105;" >


<!ENTITY Aogon  "&#x0104;" >


<!ENTITY cacute  "&#x0107;" >


<!ENTITY Cacute  "&#x0106;" >


<!ENTITY ccaron  "&#x010D;" >


<!ENTITY Ccaron  "&#x010C;" >


<!ENTITY ccirc  "&#x0109;" >


<!ENTITY Ccirc  "&#x0108;" >


<!ENTITY cdot  "&#x010B;" >


<!ENTITY Cdot  "&#x010A;" >


<!ENTITY dcaron  "&#x010F;" >


<!ENTITY Dcaron  "&#x010E;" >


<!ENTITY dstrok  "&#x0111;" >


<!ENTITY Dstrok  "&#x0110;" >


<!ENTITY ecaron  "&#x011B;" >


<!ENTITY Ecaron  "&#x011A;" >


<!ENTITY edot  "&#x0117;" >


<!ENTITY Edot  "&#x0116;" >


<!ENTITY emacr  "&#x0113;" >


<!ENTITY Emacr  "&#x0112;" >


<!ENTITY eogon  "&#x0119;" >


<!ENTITY Eogon  "&#x0118;" >


<!ENTITY gacute  "&#x01F5;" >


<!ENTITY gbreve  "&#x011F;" >


<!ENTITY Gbreve  "&#x011E;" >


<!ENTITY Gcedil  "&#x0122;" >


<!ENTITY gcirc  "&#x011D;" >


<!ENTITY Gcirc  "&#x011C;" >


<!ENTITY gdot  "&#x0121;" >


<!ENTITY Gdot  "&#x0120;" >


<!ENTITY hcirc  "&#x0125;" >


<!ENTITY Hcirc  "&#x0124;" >


<!ENTITY hstrok  "&#x0127;" >


<!ENTITY Hstrok  "&#x0126;" >


<!ENTITY Idot  "&#x0130;" >


<!ENTITY Imacr  "&#x012A;" >


<!ENTITY imacr  "&#x012B;" >


<!ENTITY ijlig  "&#x0133;" >


<!ENTITY IJlig  "&#x0132;" >


<!ENTITY inodot  "&#x0131;" >


<!ENTITY iogon  "&#x012F;" >


<!ENTITY Iogon  "&#x012E;" >


<!ENTITY itilde  "&#x0129;" >


<!ENTITY Itilde  "&#x0128;" >


<!ENTITY jcirc  "&#x0135;" >


<!ENTITY Jcirc  "&#x0134;" >


<!ENTITY kcedil  "&#x0137;" >


<!ENTITY Kcedil  "&#x0136;" >


<!ENTITY kgreen  "&#x0138;" >


<!ENTITY lacute  "&#x013A;" >


<!ENTITY Lacute  "&#x0139;" >


<!ENTITY lcaron  "&#x013E;" >


<!ENTITY Lcaron  "&#x013D;" >


<!ENTITY lcedil  "&#x013C;" >


<!ENTITY Lcedil  "&#x013B;" >


<!ENTITY lmidot  "&#x0140;" >


<!ENTITY Lmidot  "&#x013F;" >


<!ENTITY lstrok  "&#x0142;" >


<!ENTITY Lstrok  "&#x0141;" >


<!ENTITY nacute  "&#x0144;" >


<!ENTITY Nacute  "&#x0143;" >


<!ENTITY eng  "&#x014B;" >


<!ENTITY ENG  "&#x014A;" >


<!ENTITY napos  "&#x0149;" >


<!ENTITY ncaron  "&#x0148;" >


<!ENTITY Ncaron  "&#x0147;" >


<!ENTITY ncedil  "&#x0146;" >


<!ENTITY Ncedil  "&#x0145;" >


<!ENTITY odblac  "&#x0151;" >


<!ENTITY Odblac  "&#x0150;" >


<!ENTITY Omacr  "&#x014C;" >


<!ENTITY omacr  "&#x014D;" >


<!ENTITY oelig  "&#x0153;" >


<!ENTITY OElig  "&#x0152;" >


<!ENTITY racute  "&#x0155;" >


<!ENTITY Racute  "&#x0154;" >


<!ENTITY rcaron  "&#x0159;" >


<!ENTITY Rcaron  "&#x0158;" >


<!ENTITY rcedil  "&#x0157;" >


<!ENTITY Rcedil  "&#x0156;" >


<!ENTITY sacute  "&#x015B;" >


<!ENTITY Sacute  "&#x015A;" >


<!ENTITY scaron  "&#x0161;" >


<!ENTITY Scaron  "&#x0160;" >


<!ENTITY scedil  "&#x015F;" >


<!ENTITY Scedil  "&#x015E;" >


<!ENTITY scirc  "&#x015D;" >


<!ENTITY Scirc  "&#x015C;" >


<!ENTITY tcaron  "&#x0165;" >


<!ENTITY Tcaron  "&#x0164;" >


<!ENTITY tcedil  "&#x0163;" >


<!ENTITY Tcedil  "&#x0162;" >


<!ENTITY tstrok  "&#x0167;" >


<!ENTITY Tstrok  "&#x0166;" >


<!ENTITY ubreve  "&#x016D;" >


<!ENTITY Ubreve  "&#x016C;" >


<!ENTITY udblac  "&#x0171;" >


<!ENTITY Udblac  "&#x0170;" >


<!ENTITY umacr  "&#x016B;" >


<!ENTITY Umacr  "&#x016A;" >


<!ENTITY uogon  "&#x0173;" >


<!ENTITY Uogon  "&#x0172;" >


<!ENTITY uring  "&#x016F;" >


<!ENTITY Uring  "&#x016E;" >


<!ENTITY utilde  "&#x0169;" >


<!ENTITY Utilde  "&#x0168;" >


<!ENTITY wcirc  "&#x0175;" >


<!ENTITY Wcirc  "&#x0174;" >


<!ENTITY ycirc  "&#x0177;" >


<!ENTITY Ycirc  "&#x0176;" >


<!ENTITY Yuml  "&#x0178;" >


<!ENTITY zacute  "&#x017A;" >


<!ENTITY Zacute  "&#x0179;" >


<!ENTITY zcaron  "&#x017E;" >


<!ENTITY Zcaron  "&#x017D;" >


<!ENTITY zdot  "&#x017C;" >


<!ENTITY Zdot  "&#x017B;" >


<!ENTITY agr  "&#x03B1;" >


<!ENTITY Agr  "&#x0391;" >


<!ENTITY bgr  "&#x03B2;" >


<!ENTITY Bgr  "&#x0392;" >


<!ENTITY ggr  "&#x03B3;" >


<!ENTITY Ggr  "&#x0393;" >


<!ENTITY dgr  "&#x03B4;" >


<!ENTITY Dgr  "&#x0394;" >


<!ENTITY egr  "&#x03B5;" >


<!ENTITY Egr  "&#x0395;" >


<!ENTITY zgr  "&#x03B6;" >


<!ENTITY Zgr  "&#x0396;" >


<!ENTITY eegr  "&#x03B7;" >


<!ENTITY EEgr  "&#x0397;" >


<!ENTITY thgr  "&#x03B8;" >


<!ENTITY THgr  "&#x0398;" >


<!ENTITY igr  "&#x03B9;" >


<!ENTITY Igr  "&#x0399;" >


<!ENTITY kgr  "&#x03BA;" >


<!ENTITY Kgr  "&#x039A;" >


<!ENTITY lgr  "&#x03BB;" >


<!ENTITY Lgr  "&#x039B;" >


<!ENTITY mgr  "&#x03BC;" >


<!ENTITY Mgr  "&#x039C;" >


<!ENTITY ngr  "&#x03BD;" >


<!ENTITY Ngr  "&#x039D;" >


<!ENTITY xgr  "&#x03BE;" >


<!ENTITY Xgr  "&#x039E;" >


<!ENTITY ogr  "&#x03BF;" >


<!ENTITY Ogr  "&#x039F;" >


<!ENTITY pgr  "&#x03C0;" >


<!ENTITY Pgr  "&#x03A0;" >


<!ENTITY rgr  "&#x03C1;" >


<!ENTITY Rgr  "&#x03A1;" >


<!ENTITY sgr  "&#x03C3;" >


<!ENTITY Sgr  "&#x03A3;" >


<!ENTITY sfgr  "&#x03C2;" >


<!ENTITY tgr  "&#x03C4;" >


<!ENTITY Tgr  "&#x03A4;" >


<!ENTITY ugr  "&#x03C5;" >


<!ENTITY Ugr  "&#x03A5;" >


<!ENTITY phgr  "&#x03C6;" >


<!ENTITY PHgr  "&#x03A6;" >


<!ENTITY khgr  "&#x03C7;" >


<!ENTITY KHgr  "&#x03A7;" >


<!ENTITY psgr  "&#x03C8;" >


<!ENTITY PSgr  "&#x03A8;" >


<!ENTITY ohgr  "&#x03C9;" >


<!ENTITY OHgr  "&#x03A9;" >


<!ENTITY aacgr  "&#x03AC;" >


<!ENTITY Aacgr  "&#x0386;" >


<!ENTITY eacgr  "&#x03AD;" >


<!ENTITY Eacgr  "&#x0388;" >


<!ENTITY eeacgr  "&#x03AE;" >


<!ENTITY EEacgr  "&#x0389;" >


<!ENTITY idigr  "&#x03CA;" >


<!ENTITY Idigr  "&#x03AA;" >


<!ENTITY iacgr  "&#x03AF;" >


<!ENTITY Iacgr  "&#x038A;" >


<!ENTITY idiagr  "&#x0390;" >


<!ENTITY oacgr  "&#x03CC;" >


<!ENTITY Oacgr  "&#x038C;" >


<!ENTITY udigr  "&#x03CB;" >


<!ENTITY Udigr  "&#x03AB;" >


<!ENTITY uacgr  "&#x03CD;" >


<!ENTITY Uacgr  "&#x038E;" >


<!ENTITY udiagr  "&#x03B0;" >


<!ENTITY ohacgr  "&#x03CE;" >


<!ENTITY OHacgr  "&#x038F;" >


<!ENTITY half  "&#x00BD;" >


<!ENTITY frac12  "&#x00BD;" >


<!ENTITY frac14  "&#x00BC;" >


<!ENTITY frac34  "&#x00BE;" >


<!ENTITY frac18  "&#x215B;" >


<!ENTITY frac38  "&#x215C;" >


<!ENTITY frac58  "&#x215D;" >


<!ENTITY frac78  "&#x215E;" >


<!ENTITY sup1  "&#x00B9;" >


<!ENTITY sup2  "&#x00B2;" >


<!ENTITY sup3  "&#x00B3;" >


<!ENTITY plus  "&#x002B;" >


<!ENTITY plusmn  "&#x00B1;" >


<!ENTITY equals  "&#x003D;" >


<!ENTITY gt  "&#x003E;" >


<!ENTITY divide  "&#x00F7;" >


<!ENTITY times  "&#x00D7;" >


<!ENTITY curren  "&#x00A4;" >


<!ENTITY pound  "&#x00A3;" >


<!ENTITY dollar  "&#x0024;" >


<!ENTITY cent  "&#x00A2;" >


<!ENTITY yen  "&#x00A5;" >


<!ENTITY num  "&#x0023;" >


<!ENTITY percnt  "&#x0025;" >


<!ENTITY ast  "&#x2217;" >


<!ENTITY commat  "&#x0040;" >


<!ENTITY lsqb  "&#x005B;" >


<!ENTITY bsol  "&#x005C;" >


<!ENTITY rsqb  "&#x005D;" >


<!ENTITY lcub  "&#x007B;" >


<!ENTITY horbar  "&#x2015;" >


<!ENTITY verbar  "&#x007C;" >


<!ENTITY rcub  "&#x007D;" >


<!ENTITY micro  "&#x00B5;" >


<!ENTITY ohm  "&#x2126;" >


<!ENTITY deg  "&#x00B0;" >


<!ENTITY ordm  "&#x00BA;" >


<!ENTITY ordf  "&#x00AA;" >


<!ENTITY sect  "&#x00A7;" >


<!ENTITY para  "&#x00B6;" >


<!ENTITY middot  "&#x00B7;" >


<!ENTITY larr  "&#x2190;" >


<!ENTITY rarr  "&#x2192;" >


<!ENTITY uarr  "&#x2191;" >


<!ENTITY darr  "&#x2193;" >


<!ENTITY copy  "&#x00A9;" >


<!ENTITY reg  "&#x00AF;" >


<!ENTITY trade  "&#x2122;" >


<!ENTITY brvbar  "&#x00A6;" >


<!ENTITY not  "&#x00AC;" >


<!ENTITY sung  "&#x2669;" >


<!ENTITY excl  "&#x0021;" >


<!ENTITY iexcl  "&#x00A1;" >


<!ENTITY quot  "&#x0022;" >


<!ENTITY apos  "&#x0027;" >


<!ENTITY lpar  "&#x0028;" >


<!ENTITY rpar  "&#x0029;" >


<!ENTITY comma  "&#x002C;" >


<!ENTITY lowbar  "&#x005F;" >


<!ENTITY hyphen  "&#x2010;" >


<!ENTITY period  "&#x002E;" >


<!ENTITY sol  "&#x002F;" >


<!ENTITY colon  "&#x003A;" >


<!ENTITY semi  "&#x003B;" >


<!ENTITY quest  "&#x003F;" >


<!ENTITY iquest  "&#x00BF;" >


<!ENTITY laquo  "&#x00AB;" >


<!ENTITY raquo  "&#x00BB;" >


<!ENTITY lsquo  "&#x2018;" >


<!ENTITY rsquo  "&#x2019;" >


<!ENTITY ldquo  "&#x201C;" >


<!ENTITY rdquo  "&#x201D;" >


<!ENTITY nbsp  "&#x00A0;" >


<!ENTITY shy  "&#x00AD;" >


<!ENTITY acute  "&#x00B4;" >


<!ENTITY breve  "&#x02D8;" >


<!ENTITY caron  "&#x02C7;" >


<!ENTITY cedil  "&#x00B8;" >


<!ENTITY circ  "&#x2218;" >


<!ENTITY dblac  "&#x02DD;" >


<!ENTITY die  "&#x00A8;" >


<!ENTITY dot  "&#x02D9;" >


<!ENTITY grave  "&#x0060;" >


<!ENTITY macr  "&#x00AF;" >


<!ENTITY ogon  "&#x02DB;" >


<!ENTITY ring  "&#x02DA;" >


<!ENTITY tilde  "&#x007E;" >


<!ENTITY uml  "&#x00A8;" >


<!ENTITY emsp  "&#x2003;" >


<!ENTITY ensp  "&#x2002;" >


<!ENTITY emsp13  "&#x2004;" >


<!ENTITY emsp14  "&#x2005;" >


<!ENTITY numsp  "&#x2007;" >


<!ENTITY puncsp  "&#x2008;" >


<!ENTITY thinsp  "&#x2009;" >


<!ENTITY hairsp  "&#x200A;" >


<!ENTITY mdash  "&#x2014;" >


<!ENTITY ndash  "&#x2013;" >


<!ENTITY dash  "&#x2010;" >


<!ENTITY blank  "&#x2423;" >


<!ENTITY hellip  "&#x2026;" >


<!ENTITY nldr  "&#x2025;" >


<!ENTITY frac13  "&#x2153;" >


<!ENTITY frac23  "&#x2154;" >


<!ENTITY frac15  "&#x2155;" >


<!ENTITY frac25  "&#x2156;" >


<!ENTITY frac35  "&#x2157;" >


<!ENTITY frac45  "&#x2158;" >


<!ENTITY frac16  "&#x2159;" >


<!ENTITY frac56  "&#x215A;" >


<!ENTITY incare  "&#x2105;" >


<!ENTITY block  "&#x2588;" >


<!ENTITY uhblk  "&#x2580;" >


<!ENTITY lhblk  "&#x2584;" >


<!ENTITY blk14  "&#x2591;" >


<!ENTITY blk12  "&#x2592;" >


<!ENTITY blk34  "&#x2593;" >


<!ENTITY marker  "&#x25AE;" >


<!ENTITY cir  "&#x25CB;" >


<!ENTITY squ  "&#x25A1;" >


<!ENTITY rect  "&#x25AD;" >


<!ENTITY utri  "&#x25B5;" >


<!ENTITY dtri  "&#x25BF;" >


<!ENTITY star  "&#x22C6;" >


<!ENTITY bull  "&#x2022;" >


<!ENTITY squf  "&#x25AA;" >


<!ENTITY utrif  "&#x25B4;" >


<!ENTITY dtrif  "&#x25BE;" >


<!ENTITY ltrif  "&#x25C2;" >


<!ENTITY rtrif  "&#x25B8;" >


<!ENTITY clubs  "&#x2663;" >


<!ENTITY diams  "&#x2666;" >


<!ENTITY hearts  "&#x2665;" >


<!ENTITY spades  "&#x2660;" >


<!ENTITY malt  "&#x2720;" >


<!ENTITY dagger  "&#x2020;" >


<!ENTITY Dagger  "&#x2021;" >


<!ENTITY check  "&#x2713;" >


<!ENTITY cross  "&#x2717;" >


<!ENTITY sharp  "&#x266F;" >


<!ENTITY flat  "&#x266D;" >


<!ENTITY male  "&#x2642;" >


<!ENTITY female  "&#x2640;" >


<!ENTITY phone  "&#x260E;" >


<!ENTITY telrec  "&#x2315;" >


<!ENTITY copysr  "&#x2117;" >


<!ENTITY caret  "&#x2041;" >


<!ENTITY lsquor  "&#x201A;" >


<!ENTITY ldquor  "&#x201E;" >


<!ENTITY fflig  "&#xFB00;" >


<!ENTITY filig  "&#xFB01;" >


<!ENTITY ffilig  "&#xFB03;" >


<!ENTITY ffllig  "&#xFB04;" >


<!ENTITY fllig  "&#xFB02;" >


<!ENTITY mldr  "&#x2026;" >


<!ENTITY rdquor  "&#x201C;" >


<!ENTITY rsquor  "&#x2018;" >


<!ENTITY vellip  "&#x22EE;" >


<!ENTITY hybull  "&#x2043;" >


<!ENTITY loz  "&#x25CA;" >


<!ENTITY lozf  "&#x2726;" >


<!ENTITY ltri  "&#x25C3;" >


<!ENTITY rtri  "&#x25B9;" >


<!ENTITY starf  "&#x2605;" >


<!ENTITY natur  "&#x266E;" >


<!ENTITY rx  "&#x211E;" >


<!ENTITY sext  "&#x2736;" >


<!ENTITY target  "&#x2316;" >


<!ENTITY dlcrop  "&#x230D;" >


<!ENTITY drcrop  "&#x230C;" >


<!ENTITY ulcrop  "&#x230F;" >


<!ENTITY urcrop  "&#x230E;" >


<!ELEMENT TEI.2 
	(teiHeader, text) >


<!ATTLIST TEI.2 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "TEI.2" >


<!ELEMENT teiCorpus.2 
	(teiHeader, TEI.2+) >


<!ATTLIST teiCorpus.2 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "teiCorpus.2" >


<!ELEMENT att 
	(#PCDATA) >


<!ATTLIST att 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT figure 
	(head?, p*, figDesc) >


<!ATTLIST figure 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	href CDATA #IMPLIED >


<!ELEMENT mark 
	EMPTY >


<!ATTLIST mark 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED >


<!ELEMENT tag 
	(#PCDATA) >


<!ATTLIST tag 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT unclear 
	(#PCDATA | mark)* >


<!ELEMENT w 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST w 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	lemma CDATA #IMPLIED >


<!ATTLIST add 
	place (inline | supralinear | infralinear | left | right | top | bottom | opposite | verso | overstrike | mixed) #IMPLIED
	resp CDATA #IMPLIED
	hand CDATA #IMPLIED >


<!ATTLIST app 
	from IDREF #IMPLIED
	to IDREF #IMPLIED >


<!ATTLIST availability 
	status (free | unknown | restricted) "unknown" >


<!ATTLIST bibl 
	type CDATA #IMPLIED >


<!ATTLIST biblFull 
	type CDATA #IMPLIED >


<!ATTLIST biblScope 
	type (volume | pages | chapter | parts | fascicle | numbers | plates | issue) #IMPLIED >


<!ATTLIST biblStruct 
	type CDATA #IMPLIED >


<!ATTLIST bloc 
	full (yes | abb | init) "yes" >


<!ATTLIST certainty 
	degree (high | low) "high" >


<!ATTLIST country 
	full (yes | abb | init) "yes" >


<!ATTLIST date 
	cert CDATA #IMPLIED
	precision (exact | circa) #IMPLIED
	notBefore CDATA #IMPLIED
	notAfter CDATA #IMPLIED
	exact (notBefore | notAfter | both | none) #IMPLIED >


<!ATTLIST distance 
	exact (Y | N | U) #IMPLIED >


<!ATTLIST div 
	type CDATA #IMPLIED >


<!ATTLIST gap 
	reason (ellipsis | illegible | lost | omitted) #IMPLIED
	unit CDATA #IMPLIED
	dim (left | right | top | bottom | internal) #IMPLIED
	resp CDATA #IMPLIED
	hand CDATA #IMPLIED >


<!ATTLIST geog 
	full (yes | abb | init) "yes" >


<!ATTLIST geogName 
	full (yes | abb | init) "yes" >


<!ATTLIST gloss 
	target CDATA #IMPLIED >


<!ATTLIST hi 
	rend (apex | intraline | italic | ligature | longa | normal | reversed | supraline | tall | strong | superscript | underline) #REQUIRED
	type CDATA #IMPLIED >


<!ATTLIST idno 
	type (ISSN | ISBN | URL | OCLC) #REQUIRED >


<!ATTLIST lb 
	type (worddiv) #IMPLIED >


<!ATTLIST measure 
	dim (height | width | depth | diameter | none) "none"
	value CDATA #IMPLIED >


<!ATTLIST note 
	place CDATA "not specified"
	target CDATA #IMPLIED
	targetEnd CDATA #IMPLIED >


<!ATTLIST persName 
	full (yes | abb | init) "yes" >


<!ATTLIST placeName 
	full (yes | abb | init) "yes"
	type CDATA #IMPLIED >


<!ATTLIST ptr 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all" >


<!ATTLIST ref 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all" >


<!ATTLIST region 
	full (yes | abb | init) "yes" >


<!ATTLIST seg 
	cert (high | low) "high" >


<!ATTLIST settlement 
	full (yes | abb | init) "yes" >


<!ATTLIST space 
	dim (horizontal | vertical) "horizontal"
	unit CDATA "character"
	extent CDATA "1" >


<!ATTLIST supplied 
	hand CDATA #IMPLIED
	cert (high | low) "high"
	reason (lost | omitted | subaudible | explanation | abbreviation) #REQUIRED >


<!ATTLIST title 
	type (main | subordinate | parallel | abbreviated) "main"
	level (a | m | j | s | u) "m" >


<!ATTLIST unclear 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reason (damage | execution | undefined) "undefined"
	resp CDATA #IMPLIED
	cert (high | low) "high"
	hand CDATA #IMPLIED
	agent CDATA #IMPLIED >


<!ATTLIST xptr 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all" >


<!ATTLIST xref 
	targOrder (Y | N | U) "Y"
	evaluate (all | one | none) "all"
	href CDATA #IMPLIED >


<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >


<!ATTLIST teiHeader 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	creator CDATA #IMPLIED
	status (new | update) "new"
	date.created CDATA #IMPLIED
	date.updated CDATA #IMPLIED
	TEIform CDATA "teiHeader" >


<!ELEMENT fileDesc 
	(titleStmt, editionStmt?, extent?, publicationStmt, sourceDesc+) >


<!ATTLIST fileDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fileDesc" >


<!ELEMENT titleStmt 
	(title+, (author | editor | sponsor | funder | principal 
	| respStmt)*) >


<!ATTLIST titleStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "titleStmt" >


<!ELEMENT sponsor 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST sponsor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "sponsor" >


<!ELEMENT funder 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST funder 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "funder" >


<!ELEMENT principal 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST principal 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "principal" >


<!ELEMENT editionStmt 
	((edition, respStmt*) | p+) >


<!ATTLIST editionStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "editionStmt" >


<!ELEMENT edition 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST edition 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "edition" >


<!ELEMENT extent 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST extent 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "extent" >


<!ELEMENT publicationStmt 
	((p, (gap | figure | certainty | fs | link | linkGrp | cb 
	| lb | pb)*)+ | ((publisher | distributor | authority | 
	pubPlace | address | idno | availability | date), (gap | 
	figure | certainty | fs | link | linkGrp | cb | lb | pb)*)+) >


<!ATTLIST publicationStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publicationStmt" >


<!ELEMENT distributor 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST distributor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "distributor" >


<!ELEMENT authority 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST authority 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "authority" >


<!ELEMENT idno 
	(#PCDATA) >


<!ATTLIST idno 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "idno" >


<!ELEMENT availability 
	(p)+ >


<!ATTLIST availability 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	status (free | unknown | restricted) "unknown"
	TEIform CDATA "availability" >


<!ELEMENT sourceDesc 
	(p | bibl | biblFull | biblStruct | listBibl)+ >


<!ATTLIST sourceDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "sourceDesc" >


<!ELEMENT encodingDesc 
	(classDecl*, p*) >


<!ATTLIST encodingDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "encodingDesc" >


<!ELEMENT classDecl 
	(taxonomy)+ >


<!ATTLIST classDecl 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "classDecl" >


<!ELEMENT taxonomy 
	(category+ | ((bibl | biblStruct | biblFull), category*)) >


<!ATTLIST taxonomy 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "taxonomy" >


<!ELEMENT category 
	(catDesc, category*) >


<!ATTLIST category 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "category" >


<!ELEMENT catDesc 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag)* >


<!ATTLIST catDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "catDesc" >


<!ELEMENT profileDesc 
	(creation?, langUsage*, handList*, textClass*) >


<!ATTLIST profileDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >


<!ELEMENT creation 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST creation 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "creation" >


<!ELEMENT langUsage 
	(p | language)+ >


<!ATTLIST langUsage 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "langUsage" >


<!ELEMENT language 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST language 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wsd ENTITY #IMPLIED
	usage NMTOKEN #IMPLIED
	TEIform CDATA "language" >


<!ELEMENT textClass 
	(classCode | catRef | keywords)* >


<!ATTLIST textClass 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textClass" >


<!ELEMENT keywords 
	(term+ | list) >


<!ATTLIST keywords 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "keywords" >


<!ELEMENT classCode 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST classCode 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "classCode" >


<!ELEMENT catRef 
	EMPTY >


<!ATTLIST catRef 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	scheme IDREF #IMPLIED
	TEIform CDATA "catRef" >


<!ELEMENT revisionDesc 
	(list | change+) >


<!ATTLIST revisionDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "revisionDesc" >


<!ELEMENT change 
	(date, respStmt+, item) >


<!ATTLIST change 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "change" >


<!ELEMENT p 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST p 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "p" >


<!ELEMENT foreign 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST foreign 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "foreign" >


<!ELEMENT emph 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST emph 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "emph" >


<!ELEMENT hi 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST hi 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "hi" >


<!ELEMENT soCalled 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST soCalled 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "soCalled" >


<!ELEMENT term 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST term 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "term" >


<!ELEMENT gloss 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST gloss 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREF #IMPLIED
	TEIform CDATA "gloss" >


<!ELEMENT name 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST name 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT rs 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST rs 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "rs" >


<!ELEMENT num 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST num 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	value CDATA #IMPLIED
	TEIform CDATA "num" >


<!ELEMENT measure 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST measure 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "measure" >


<!ELEMENT date 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST date 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	value CDATA #IMPLIED
	certainty CDATA #IMPLIED
	TEIform CDATA "date" >


<!ELEMENT dateRange 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST dateRange 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	from CDATA #IMPLIED
	to CDATA #IMPLIED
	exact (to | from | both | none) #IMPLIED
	TEIform CDATA "dateRange" >


<!ELEMENT abbr 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST abbr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	expan CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "abbr" >


<!ELEMENT expan 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST expan 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	abbr CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "expan" >


<!ELEMENT sic 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | ab | l | lg | p | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST sic 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	corr CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "sic" >


<!ELEMENT corr 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | ab | l | lg | p | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST corr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	sic CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "corr" >


<!ELEMENT reg 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST reg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	orig CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "reg" >


<!ELEMENT orig 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST orig 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reg CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "orig" >


<!ELEMENT gap 
	EMPTY >


<!ATTLIST gap 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	desc CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp IDREF #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	extent CDATA #IMPLIED
	TEIform CDATA "gap" >


<!ELEMENT add 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | ab | l | lg | p | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST add 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "add" >


<!ELEMENT del 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST del 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	status CDATA "unremarkable"
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "del" >


<!ELEMENT address 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, ((addrLine, (gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)*)+ | ((name | postBox | postCode 
	| street), (gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | pb)*)*)) >


<!ATTLIST address 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "address" >


<!ELEMENT addrLine 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST addrLine 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "addrLine" >


<!ELEMENT street 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST street 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "street" >


<!ELEMENT postCode 
	(#PCDATA) >


<!ATTLIST postCode 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "postCode" >


<!ELEMENT postBox 
	(#PCDATA) >


<!ATTLIST postBox 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "postBox" >


<!ELEMENT ptr 
	EMPTY >


<!ATTLIST ptr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #REQUIRED
	TEIform CDATA "ptr" >


<!ELEMENT ref 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST ref 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #IMPLIED
	TEIform CDATA "ref" >


<!ELEMENT list 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, (head, (gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*)?, (item, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*)*) >


<!ATTLIST list 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "simple"
	TEIform CDATA "list" >


<!ELEMENT item 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | ab | l | lg | p | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST item 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "item" >


<!ELEMENT head 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST head 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "head" >


<!ELEMENT note 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | ab | l | lg | p | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST note 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	place CDATA "unspecified"
	anchored (yes | no) "yes"
	target IDREFS #IMPLIED
	targetEnd IDREFS #IMPLIED
	TEIform CDATA "note" >


<!ELEMENT pb 
	EMPTY >


<!ATTLIST pb 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "pb" >


<!ELEMENT lb 
	EMPTY >


<!ATTLIST lb 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "lb" >


<!ELEMENT cb 
	EMPTY >


<!ATTLIST cb 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "cb" >


<!ELEMENT bibl 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | analytic | author | biblScope | 
	edition | editor | extent | idno | imprint | monogr | note 
	| pubPlace | publisher | respStmt | series | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST bibl 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "bibl" >


<!ELEMENT biblStruct 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, (analytic, (gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*)?, (monogr, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*, (series, (gap | 
	figure | certainty | fs | link | linkGrp | cb | lb | pb)*)*)+, 
	((note, (gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | pb)*) | (idno, (gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)*))*) >


<!ATTLIST biblStruct 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblStruct" >


<!ELEMENT biblFull 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, titleStmt, (gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*, (editionStmt, (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)*)?, (extent, 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| pb)*)?, publicationStmt, (gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)*, (sourceDesc, (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)*)*) >


<!ATTLIST biblFull 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblFull" >


<!ELEMENT listBibl 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, (head, (gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*)?, (bibl | biblStruct | biblFull), 
	(bibl | biblStruct | biblFull | gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*) >


<!ATTLIST listBibl 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "listBibl" >


<!ELEMENT analytic 
	(author | editor | respStmt | title | gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST analytic 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "analytic" >


<!ELEMENT monogr 
	(((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, (((author | editor | respStmt), (author | editor 
	| respStmt | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | pb)*, (title, (gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)*)+, ((editor | respStmt), 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| pb)*)*) | ((title, (gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*)+, ((author | editor | respStmt), 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| pb)*)*)))?, ((note | meeting), (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*)*, (edition, (editor 
	| respStmt | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | pb)*)*, imprint, (imprint | extent | biblScope 
	| gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*) >


<!ATTLIST monogr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "monogr" >


<!ELEMENT series 
	(#PCDATA | title | editor | respStmt | biblScope | gap | 
	figure | certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST series 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "series" >


<!ELEMENT author 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST author 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author" >


<!ELEMENT editor 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST editor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "editor"
	TEIform CDATA "editor" >


<!ELEMENT respStmt 
	(resp | name | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | pb)+ >


<!ATTLIST respStmt 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "respStmt" >


<!ELEMENT resp 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST resp 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "resp" >


<!ELEMENT title 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST title 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	level (a | m | j | s | u) #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "title" >


<!ELEMENT meeting 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST meeting 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "meeting" >


<!ELEMENT imprint 
	(pubPlace | publisher | date | biblScope | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST imprint 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "imprint" >


<!ELEMENT publisher 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST publisher 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publisher" >


<!ELEMENT biblScope 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST biblScope 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "biblScope" >


<!ELEMENT pubPlace 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST pubPlace 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "pubPlace" >


<!ELEMENT l 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST l 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	enjamb CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "l" >


<!ELEMENT lg 
	((docAuthor | head | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*, (l | lg), (l | lg | gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)*) >


<!ATTLIST lg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "lg" >


<!ELEMENT text 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, body, (gap | figure | certainty | fs | link | 
	linkGrp | cb | lb | pb)*) >


<!ATTLIST text 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "text" >


<!ELEMENT body 
	((docAuthor | head | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*, ((((bibl | biblFull | biblStruct 
	| ab | l | lg | p | list | listBibl | note), (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)*)+, (div, 
	(div | gap | figure | certainty | fs | link | linkGrp | 
	cb | lb | pb)*)?) | (div, (div | gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*))) >


<!ATTLIST body 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "body" >


<!ELEMENT div 
	((docAuthor | head | gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*, ((div, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*)+ | (((bibl | biblFull 
	| biblStruct | ab | l | lg | p | list | listBibl | note), 
	(gap | figure | certainty | fs | link | linkGrp | cb | lb 
	| pb)*)+, (div, (gap | figure | certainty | fs | link | 
	linkGrp | cb | lb | pb)*)*))) >


<!ATTLIST div 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div" >


<!ELEMENT docAuthor 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST docAuthor 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docAuthor" >


<!ELEMENT link 
	EMPTY >


<!ATTLIST link 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	targets IDREFS #REQUIRED
	TEIform CDATA "link" >


<!ELEMENT linkGrp 
	(link | ptr | xptr)+ >


<!ATTLIST linkGrp 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	domains IDREFS #IMPLIED
	targFunc NMTOKENS #IMPLIED
	TEIform CDATA "linkGrp" >


<!ELEMENT xref 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST xref 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xref" >


<!ELEMENT xptr 
	EMPTY >


<!ATTLIST xptr 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xptr" >


<!ELEMENT seg 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST seg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	met CDATA #IMPLIED
	real CDATA #IMPLIED
	rhyme CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	subtype CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT ab 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST ab 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "ab" >


<!ELEMENT fs 
	(f)* >


<!ATTLIST fs 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	feats IDREFS #IMPLIED
	rel (eq | ne | sb | ns) "sb"
	TEIform CDATA "fs" >


<!ELEMENT f 
	(str | fs)* >


<!ATTLIST f 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name NMTOKEN #REQUIRED
	org (single | set | bag | list) #IMPLIED
	rel (eq | ne | sb | ns) "eq"
	fVal IDREFS #IMPLIED
	TEIform CDATA "f" >


<!ELEMENT str 
	(#PCDATA) >


<!ATTLIST str 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	rel (eq | ne | sb | ns | lt | le | gt | ge) "eq"
	TEIform CDATA "str" >


<!ELEMENT certainty 
	EMPTY >


<!ATTLIST certainty 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	locus CDATA #REQUIRED
	assertedValue CDATA #IMPLIED
	desc CDATA #IMPLIED
	given CDATA #IMPLIED
	degree CDATA #IMPLIED
	TEIform CDATA "certainty" >


<!ELEMENT supplied 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST supplied 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	source CDATA #IMPLIED
	TEIform CDATA "supplied" >


<!ELEMENT hand 
	EMPTY >


<!ATTLIST hand 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	hand CDATA #IMPLIED
	scribe CDATA #IMPLIED
	style CDATA #IMPLIED
	mainLang CDATA #IMPLIED
	ink CDATA #IMPLIED
	character CDATA #IMPLIED
	first CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "hand" >


<!ELEMENT handShift 
	EMPTY >


<!ATTLIST handShift 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	new IDREF #IMPLIED
	old IDREF #IMPLIED
	style CDATA #IMPLIED
	ink CDATA #IMPLIED
	character CDATA #IMPLIED
	resp IDREF #IMPLIED
	TEIform CDATA "handShift" >


<!ELEMENT handList 
	(hand)* >


<!ATTLIST handList 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "handList" >


<!ELEMENT space 
	EMPTY >


<!ATTLIST space 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	dim (horizontal | vertical) #IMPLIED
	extent CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "space" >


<!ELEMENT app 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, (lem, (gap | figure | certainty | fs | link | 
	linkGrp | cb | lb | pb)*, (wit, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*)?)?, ((rdg, (gap 
	| figure | certainty | fs | link | linkGrp | cb | lb | pb)*, 
	(wit, (gap | figure | certainty | fs | link | linkGrp | 
	cb | lb | pb)*)?) | (rdgGrp, (gap | figure | certainty | 
	fs | link | linkGrp | cb | lb | pb)*, (wit, (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)*)?))+) >


<!ATTLIST app 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	from IDREF #IMPLIED
	to IDREF #IMPLIED
	loc CDATA #IMPLIED
	TEIform CDATA "app" >


<!ELEMENT lem 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST lem 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wit CDATA #IMPLIED
	type CDATA #IMPLIED
	cause CDATA #IMPLIED
	varSeq CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "lem" >


<!ELEMENT rdg 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST rdg 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wit CDATA #IMPLIED
	type CDATA #IMPLIED
	cause CDATA #IMPLIED
	varSeq CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "rdg" >


<!ELEMENT rdgGrp 
	((gap | figure | certainty | fs | link | linkGrp | cb | 
	lb | pb)*, ((rdgGrp, (gap | figure | certainty | fs | link 
	| linkGrp | cb | lb | pb)*) | (rdg, (gap | figure | certainty 
	| fs | link | linkGrp | cb | lb | pb)*, (wit, (gap | figure 
	| certainty | fs | link | linkGrp | cb | lb | pb)*)?))+) >


<!ATTLIST rdgGrp 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wit CDATA #IMPLIED
	type CDATA #IMPLIED
	cause CDATA #IMPLIED
	varSeq CDATA #IMPLIED
	resp CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "rdgGrp" >


<!ELEMENT wit 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST wit 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "wit" >


<!ELEMENT persName 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST persName 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "persName" >


<!ELEMENT placeName 
	(#PCDATA | bloc | country | distance | geog | offset | region 
	| settlement | mark | abbr | address | date | dateRange 
	| dateStruct | expan | geogName | measure | name | num | 
	persName | placeName | rs | add | app | corr | del | orig 
	| reg | sic | space | supplied | unclear | handShift | emph 
	| foreign | gloss | hi | soCalled | term | title | ptr | 
	ref | xptr | xref | seg | w | att | tag | gap | figure | 
	certainty | fs | link | linkGrp | cb | lb | pb)* >


<!ATTLIST placeName 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "placeName" >


<!ELEMENT settlement 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST settlement 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "settlement" >


<!ELEMENT region 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST region 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "region" >


<!ELEMENT country 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST country 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "country" >


<!ELEMENT bloc 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST bloc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "bloc" >


<!ELEMENT offset 
	(#PCDATA | gap | figure | certainty | fs | link | linkGrp 
	| cb | lb | pb)* >


<!ATTLIST offset 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "offset" >


<!ELEMENT distance 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST distance 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	exact (Y | N | U) "U"
	TEIform CDATA "distance" >


<!ELEMENT geogName 
	(#PCDATA | geog | name | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST geogName 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "geogName" >


<!ELEMENT geog 
	(#PCDATA) >


<!ATTLIST geog 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "geog" >


<!ELEMENT dateStruct 
	(#PCDATA | dateStruct | day | distance | month | occasion 
	| offset | week | year | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST dateStruct 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	calendar CDATA #IMPLIED
	exact CDATA #IMPLIED
	TEIform CDATA "dateStruct" >


<!ELEMENT day 
	(#PCDATA) >


<!ATTLIST day 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "day" >


<!ELEMENT week 
	(#PCDATA) >


<!ATTLIST week 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "week" >


<!ELEMENT month 
	(#PCDATA) >


<!ATTLIST month 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "month" >


<!ELEMENT year 
	(#PCDATA) >


<!ATTLIST year 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "year" >


<!ELEMENT occasion 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | gap | figure | certainty | fs | 
	link | linkGrp | cb | lb | pb)* >


<!ATTLIST occasion 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	full (yes | abb | init) "yes"
	TEIform CDATA "occasion" >


<!ELEMENT figDesc 
	(#PCDATA | mark | abbr | address | date | dateRange | dateStruct 
	| expan | geogName | measure | name | num | persName | placeName 
	| rs | add | app | corr | del | orig | reg | sic | space 
	| supplied | unclear | handShift | emph | foreign | gloss 
	| hi | soCalled | term | title | ptr | ref | xptr | xref 
	| seg | w | att | tag | bibl | biblFull | biblStruct | list 
	| listBibl | note | text | gap | figure | certainty | fs 
	| link | linkGrp | cb | lb | pb)* >


<!ATTLIST figDesc 
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "figDesc" >

