dtd/tei-epidoc-ext.dtd

<!-- EpiDoc-specific TEI customization file
     Copyright (C) 2002-2005  EpiDoc Collaborative
      
     This program is free software; you can redistribute it and/or
     modify it under the terms of the GNU General Public License
     as published by the Free Software Foundation; either version 2
     of the License, or (at your option) any later version.
      
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
      
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 59 Temple Place Suite 330, Boston, MA  02111-1307, USA.
     
     Filename: tei-epidoc-ext.dtd

     Must be used with the TEI Pizza Chef and the entities customization file tei-epidoc-ext.ent

     This file has three major sections:
     1: New elements added by EpiDoc, together with their attributes 
     2: EpiDoc-specific attributes (to override or make more stringent those specified by the TEI
     3. EpiDoc-specific character entities 
     
     REVISION HISTORY:

	06 December 2006
		(GB)
		* added added @type to epidoc.a.date

	03 December 2006
		(GB)
		* added epidoc.a.date to <year>, <month>, and <day>
		* recreated <date> from scratch in order to remove @certainty
		* made gap[@reason] #REQUIRED (pace Radcliffe, below!)
		* busted out <geogName> to allow phrase content

	23 March 2006
		(GB & JF)
		* added @extentmax to <gap> (for range)

	20 March 2006
		(GB & CC)
		* added attribute @unit to <measure> (to specify metres, centimetres, cubits, etc.)
		* added attribute @precision (values 'circa' or 'exact') to <measure>

     8 March 2006
          (TE)
          * Changed allowable attribute values for @cert on all relevant tags and @degree on the 
             'certainty' element to be 'low' or 'high' with default of 'high'. Per discussion on markup.
     
     24 February 2006
          (TE)
          * Added 'normal' as a valid value for the 'rend' attribute on the 'hi' element: permits suppression of 
             inherited text styles (e.g., 'italic').
          * Created an epidoc degree entity for use with the 'certainty' element. Reflects outcome of a 2002 
             discussion on the markup list under the 'certainty' rubric. Note that 'yes' and 'no' are some of the
             recommended possible value options recognized in the TEI guidelines.
             
     16 February 2006
          (TE)
          * Removed xmlns attribute from TEI.2 in order to maintain compatibility with InsAph and other
             projects.
             
     15 February 2006
          (TE)
          * Added 'underline' as a valid value for the 'rend' attribute on the 'hi' element. See bug req 1432358.
          
     18 August 2005
          (TE)
          * modifed the attribute list for xref to include an href attribute for quick and easy linking to 
             outside information
          * modified the attribute model for <unclear> so that the "reason" attribute has three possible values: 
             "damage", "execution" and "undefined." "Undefined" is designated as the default/automatic value. See
             further the markup list discussion referenced below under 09 August 2005
          * consolidated two, partially overlapping, attribute specifications for <unclear> into a single one
          * added "italic" and "strong" as legal values for the "rend" attribute on the "hi" element, to support
             guidelines authoring
          * added <tag> and <att> (stolen from the TEI Auxiliary DTD for Tag Set documentation) to support
             guidelines authoring
             
     17 August 2005
          (TE)
          * modified new content model for <unclear>: without trailing asterisk, content model was invalid
          
     09 August 2005
           (GB)
         * new content model for <unclear>: can only contain PCDATA or <mark>. See further  a discussion on the 
           markup list in July and August of 2005, subject: EpiDoc DTD issues [1: unclear].

     04 April 2005
           (GB and JG)
         * made <figure> a little more forgiving (for InsAph compatibility)
         * Added <w> and <rs> (added %paracontent; to content model of <w>)
         * made the @from and @to in <app> CDATA #IMPLIED
         * made @cert CDATA #IMPLIED (globally)
         * made <date> @precision ( exact | circa )
         * made <div> @type CDATA #IMPLIED
         * added 'superscript' to values of @rend in <hi>
         * added @type to place-names
         * added 'abbreviation' to @reason in <supplied>

     25 November 2002
         * Added an "href" attribute to the figure tag to support 'quick-and-dirty' direct linkage
           of images and EpiDoc documents. This is a stop-gap until both TEI and EpiDoc finally 
           decide on new, fully robust XML-based handling for image linkage.
         * Altered the content model for figure to require a head and a figDesc child at least. <text>
           children are not allowed.

     22 August 2002 (many thanks to Gabriel Bodard, Charles Crowther and Jessica Ratcliff)
         * Added attribute customization for <persName> and <placeName>
         * Added enumeration for values for the "dim" attribute on the <gap> tag to reflect G.B.'s 
           recommendation of 11 September 2002 to reconcile usage between EPAPP and Vindolanda
         * Added "precision", "notBefore", "notAfter", and "exact" attributes to the <date> and 
           <dateStruct> tags to support recommendations made by G.B.
         * Added "cert" attribute to the <supplied> tag to support EPAPP
         * Added "value" attribute to the <measure> tag to support EPAPP
     17 August 2002 (many thanks to Gabriel Bodard for identifying these needs to support EPAPP)
         * added GNU public license
         * modified attributes for <mark> to include all the global ones, not just type
         * modified some of the attributes for <measure> so that type, dim and value are all CDATA
           and #IMPLIED, nothing more stringent. Note that "dim" is an extension used by EPAPP
         * removed the epidoc.cert parameter entity entirely to allow the less restrictive "cert" 
           attribute that is the default in TEI to remain on all relevant elements until we reach 
           a consensus on how to do certainty in epidoc
         * added dim attribute to value tag until EPAPP and Vindolanda can develop a consensus on
           how to deal with various gap issues ... and that consensus has been vetted via the markup
           list
           
     12 August 2002 (many thanks to Jessica Ratcliff for identifying these needs)
         * modified the attribute list for the <gap> element to make the 'reason' attribute optional,
           on the following grounds (Ratcliff): "it may be difficult for us [Vindolanda project] to 
           give data for REASON, which is currently required. Since we are not working with the actual 
           tablets but Bowman and Thomas' book, we do not necessarily have the info for why a gap 
           exists. I can imagine other similar situations, and wonder whether or not REASON should be 
           required." THIS CHANGE NEEDS TO BE VETTED VIA THE MARKUP LIST. -->
     
<!-- *********************************************************************
     New elements added by EpiDoc, together with their attributes
     ********************************************************************* -->
     
<!ELEMENT choice (abbr | corr | expan | orig | reg | seg | sic | unclear | choice)* > 
<!ATTLIST choice   
      %a.global; >
      
<!ELEMENT att (#PCDATA)> 
<!ATTLIST att  
      %a.global; >

<!ELEMENT date %om.RR;  %phrase.seq;> 
<!ATTLIST date  
      %a.global;
      calendar CDATA #IMPLIED
      value CDATA #IMPLIED >

<!ELEMENT figure (head?, p*, figDesc) >
<!ATTLIST figure
	%a.global;
	entity ENTITY #IMPLIED
	href CDATA #IMPLIED >

<!ELEMENT geogName %om.RR; (#PCDATA | geog | %m.phrase; | %m.Incl; )*> 
<!ATTLIST geogName  
      %a.global;
      %a.names;
      type CDATA #IMPLIED >

<!ELEMENT mark EMPTY >
<!ATTLIST mark 
          %a.global; 
          type CDATA #IMPLIED >

<!ELEMENT tag (#PCDATA)> 
<!ATTLIST tag  
      %a.global; >
      
<!ELEMENT unclear 
	( #PCDATA | mark )* > 

<!ELEMENT w %om.RR;  %paraContent;>
<!ATTLIST w  
      %a.global;
      %a.seg;
      lemma CDATA #IMPLIED>

<!-- *********************************************************************
     EpiDoc-specific attributes. Where they coincide with TEI attribute definitions, these will be binding
     ********************************************************************* -->
     
<!-- define parameter entities to facilitate uniformity where the same attribute appears on multiple elements -->

<!ENTITY % epidoc.cert "cert (high | low) 'high'" >
<!ENTITY % epidoc.degree "degree (high | low) 'high'">
<!ENTITY % epidoc.exact "exact (Y | N | U) #IMPLIED" >
<!ENTITY % epidoc.full "full (yes | abb | init) 'yes'" >
<!ENTITY % epidoc.hand "hand CDATA #IMPLIED" >
<!ENTITY % epidoc.resp "resp CDATA #IMPLIED" >
<!ENTITY % epidoc.a.pointer
        "targOrder (Y | N | U) 'Y'
         evaluate (all | one | none) 'all'">
<!ENTITY % epidoc.a.date
       "cert CDATA #IMPLIED
        type CDATA #IMPLIED
        precision (exact | circa) #IMPLIED 
        notBefore CDATA #IMPLIED
        notAfter CDATA #IMPLIED
        exact (notBefore | notAfter | both | none) #IMPLIED " >
        
<!-- define the attributes for each element, as necessary  -->         

<!ATTLIST %n.add;
        place ( inline | supralinear | infralinear | left | right | top | bottom | opposite | verso | overstrike | mixed ) #IMPLIED
        %epidoc.resp;
        %epidoc.hand; >
<!ATTLIST %n.app;
        from IDREF #IMPLIED
        to IDREF #IMPLIED >
<!ATTLIST %n.availability;
        status (free | unknown | restricted) 'unknown' >
<!ATTLIST %n.bibl;
        type CDATA #IMPLIED >
<!ATTLIST %n.biblFull;
        type CDATA #IMPLIED >
<!ATTLIST %n.biblScope;
        type (volume | pages | chapter | parts | fascicle | numbers | plates | issue ) #IMPLIED >
<!ATTLIST %n.biblStruct;
        type CDATA #IMPLIED >
<!ATTLIST %n.bloc;
        %epidoc.full; >
<!ATTLIST %n.certainty;
        %epidoc.degree; >
<!ATTLIST %n.country;
        %epidoc.full; >
<!ATTLIST %n.date;
        %epidoc.a.date; >
<!ATTLIST %n.day;
        %epidoc.a.date; >
<!ATTLIST %n.distance;
        %epidoc.exact; >
<!ATTLIST %n.div;
        type CDATA #IMPLIED >
<!ATTLIST %n.gap;
        reason (ellipsis | illegible | lost | omitted) #REQUIRED
        extentmax CDATA #IMPLIED
        unit CDATA #IMPLIED
        dim (left | right | top | bottom | internal) #IMPLIED
        %epidoc.resp;
        %epidoc.hand; >
<!ATTLIST %n.geog;
        %epidoc.full; >
<!ATTLIST %n.geogName;
        %epidoc.full; >
<!ATTLIST %n.gloss;
        target CDATA #IMPLIED >
<!ATTLIST %n.hi;
        rend (apex | intraline | italic | ligature | longa | normal | reversed | supraline | tall | strong | superscript | underline)  #REQUIRED
        type CDATA #IMPLIED >
<!ATTLIST %n.idno;
        type (ISSN | ISBN | URL | OCLC) #REQUIRED >
<!ATTLIST %n.lb;
        type (worddiv) #IMPLIED >
<!ATTLIST %n.measure;
        dim (height | width | depth | diameter | none) "none" 
        value CDATA #IMPLIED
        unit CDATA #IMPLIED
        precision (circa | exact) #IMPLIED >
<!ATTLIST %n.month;
        %epidoc.a.date; >
<!ATTLIST %n.note;
        place CDATA 'not specified'
        target CDATA #IMPLIED
        targetEnd CDATA #IMPLIED >
<!ATTLIST %n.persName;
        %epidoc.full; >
<!ATTLIST %n.placeName;
        %epidoc.full;
        type CDATA #IMPLIED >
<!ATTLIST %n.ptr;
        %epidoc.a.pointer; >
<!ATTLIST %n.ref;
        %epidoc.a.pointer; >
<!ATTLIST %n.region;
        %epidoc.full; >
<!ATTLIST %n.seg;
        %epidoc.cert; >
<!ATTLIST %n.settlement;
        %epidoc.full; >
<!ATTLIST %n.space;
        dim (horizontal | vertical) 'horizontal'
        unit CDATA 'character'
        extent CDATA '1' >
<!ATTLIST %n.supplied;
        %epidoc.hand;
        %epidoc.cert; 
        reason (lost | omitted | subaudible | explanation | abbreviation) #REQUIRED >
<!ATTLIST %n.title;
        type (main | subordinate | parallel | abbreviated) 'main'
        level (a | m | j | s | u) 'm' >
<!ATTLIST %n.unclear;
        %a.global;
         reason (damage | execution | undefined) 'undefined'
         %epidoc.resp; 
         %epidoc.cert;
        %epidoc.hand;
         agent CDATA #IMPLIED >
<!ATTLIST %n.xptr;
        %epidoc.a.pointer; >
<!ATTLIST %n.xref;
        %epidoc.a.pointer; 
        href CDATA #IMPLIED>
<!ATTLIST %n.year;
        %epidoc.a.date; >

        
        
        
<!-- *********************************************************************
     EpiDoc-specific character entities
     ********************************************************************* -->